# Virtual environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Windows
nul

# Logs and Experiments
logs/
experiments/
models/*.pt
*.log

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Other
.DS_Store
